.markdown h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0.5em 0 0 0;
}

.markdown h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  margin: 1em 0 0 0;
}

.markdown h2 + h3 {
  margin-top: 0px;
}

.markdown p,
.markdown a,
.markdown li {
  font-size: 20px;
  line-height: 1.5;
}

.markdown a {
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.markdown a:hover,
.markdown a:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

.markdown p + p {
  margin-top: 1em;
}

.markdown ul {
  padding: 0.5rem 0 0.5rem 1.75em;
}
